  .navibar {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0;
    padding: 15px;
    margin-right: 15px; 
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

.bgfoto {
    background-image: url(foto/banneri1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    margin-top: 0;
    position: inherit;
    height: 500px;
    width: 100%;

}
.bgfoto div{
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    width: 500px;
    align-items: center;
}

.search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 50%;
}
.search-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container img {
    width: 20px; 
    height: 20px; 
}

.search-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #333; 
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.search-button:hover::before {
    opacity: 1;
}

.discount-code {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    margin-top: 0;
    position: inherit;
}
.discount-code img{
    display: flex;
    justify-content: center;
}

.logoja{
    display: flex;  
    height: 120px;

}

.returnandship {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    height: 150px;
    width: 100px;
    position: absolute;
    top: 10px; 
    right: 10px; 
    margin-top: 15px;
    z-index: 1;
}

.container div{
    width: 80%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
  }
  
  .product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
  }
  
  .product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .product p {
    font-size: 1.2em;
    color: #555;
  }